/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-image: url('fondo.jpg'); /* Cambia 'fondo.jpg' por la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  color: #fff; /* Color de texto blanco para contrastar con el fondo */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.image-container {
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: scale(1.1);
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}